#rotator{
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center;
  transition: background-image 0.5s;
}

.splash-text{
  display:none;
  transition: all 0.25s;
}

.splash-text h1{
color: #fff;
}

.splash-text p{
  color: #999;
}

#dots{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.dot{
  background-color: #BBB;
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
}

.blue{
  color:#fff;
  background-color: #17478e;
}



@media screen and (min-width: 730px){

#rotator{
  width: 100%;

}

#triangle{
width: 0;
height: 0;
border-top: 500px solid #17478e;
border-right: 700px solid transparent;
}

.splash-text{
  margin-top: -510px;
  padding-left: 15px;
  height: 500px;
}

.splash-text h1{
  font-size: 40px;
}

.splash-text p{
  width: 450px;
  font-size: 30px;
  margin-bottom: 40px;
}

.splash-text a{
  font-size:35px;
  padding:10px;
}

#dots{
  height:40px;
  top:-25px;

}

.dot{
  height: 30px;
  width:30px;
    margin:10px;
}

.dot:hover{
  background-color: #888;
}
.title{
  font-size: 48px;
  padding-top:10px;
  padding-bottom:10px;

  margin: 0;
  width:100%;
  background-color: #ccc;
  color: #17478e;
  text-align: center;
}


#watch{
  width:100%;
  display:flex;
  background-color: #17478e;
  color: #fff;
}



.watch-on{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
}

.watch-on img{
height:150px;
}



.watch-on p{
  color:#bbb;
  font-size:24px;
  margin:0;
  text-align: center;
}

.watch-on a{
  font-size: 40px;
  padding-left:10px;
  padding-right:10px;

  margin: 20px;
}

.partner{
  width:100%;
  min-height: 100px;
  display:grid;
  grid-template-columns: 275px auto 275px;
  align-items: center;
  border-bottom-style: solid;
  border-color: #ddd;
  border-width: 2px;
}

.partner img {

  max-height: 100px;
  max-width: 255px;
  margin: auto;
}

.partner a{
  font-size: 30px;
   padding-left:10px;
    padding-right:10px;
    margin: 15px;
    text-align: center;
min-width:215px;
}

.partner p{
  font-size:25px;
text-align: center;
}



}



#hide{
  display:none;
}

@media screen and (max-width: 729px){

#rotator{
  height: 200px;
  width: 100%;
  background-size: cover;
}


#triangle{
width: 0;
height: 0;
border-top: 200px solid #17478e;
border-right: 80vw solid transparent;
}
.splash-text{
  margin-top: -205px;
  padding-left: 15px;
  height: 200px;
}


.splash-text h1{
  font-size: 20px;
  margin-bottom: 5px;
}

.splash-text p{
  width: 50vw;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 20px;
}


.splash-text a{
  font-size:17px;
  padding:5px;
}
#dots{
  height:40px;
  top:-60px;

}

  .dot{
    height: 30px;
    width:30px;
      margin:10px;
  }

  .dot:hover{
    background-color: #888;
  }

  .title{
    font-size: 22px;
    padding-top:50px;
    padding-bottom:50px;

    margin: 0;
    width:100%;
    background-color: #ccc;
    color: #17478e;
    text-align: center;
  }
  #watch{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: #17478e;
    color: #fff;
  }



  .watch-on{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 30px;
    margin:5px;
  }

  #rokfin p{
    grid-row: 1/3;
    grid-column: 2/4;
  }

  #roku p{
    grid-row: 1/3;
    grid-column: 1/3;
  }

  .watch-on img{
  width:90%;
  margin:auto;
  }



  .watch-on p{
    color:#bbb;
    width:100%;
    font-size:20px;
    text-align: center;
    margin:auto;
  }

  .watch-on a{
    font-size: 20px;
  width:90%;
  text-align: center;
  margin:auto;

  }

}
